.mtte.forge .asset {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  width: 300px;
}

.mtte.forge .asset:hover {
  box-shadow: 0 0 10px var(--color-shadow-highlight) inset;
}

.mtte.forge .asset img {
  border: none;
  object-fit: contain;
  object-position: 50% 0;
}

.mtte.forge .asset:hover img {
  opacity: 0.2;
}

.mtte .asset .type {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

.mtte .asset p {
  margin: 2px 0px;
}

.mtte .asset .system {
  position: absolute;
  bottom: 0px;
  background-color: black;
  color: white;
  padding: 0px 3px;
  font-size: 10px;
}

.mtte .asset .details {
  padding: 0px 5px;
  width: 225px;
}

.mtte .asset .details .title {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  color: #444;
}

.mtte .asset .details p {
  font-size: 12px;
}

.mtte .asset .details .icons {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  font-size: 16px;
}

.mtte .asset .details .icons .info.action:hover {
  font-size: 24px;
  color: red;
}

.mtte .asset .details .icons .info {
  margin-right: 5px;
}

#moulinette-compendiumpreview {
  min-height: 300px;
  min-width: 500px;
}

#moulinette-compendiumpreview .body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinette-compendiumpreview h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  overflow: hidden;
  width: 100%;
}

#moulinette-compendiumpreview .compendium {
  position: absolute;
  display: flex;
  top: 38px;
  bottom: 90px;
}

#moulinette-compendiumpreview .compendium .infos {
  list-style: none;
  min-width: 200px
}

#moulinette-compendiumpreview .compendium .infos .main {
  font-size: 18px;
  margin: 0px;
}

#moulinette-compendiumpreview .compendium img {
  object-fit: contain;
  border: none;
  margin: 10px;
  max-width: calc(100% - 200px);
  /** box-shadow: -25px -25px 0 -20px #f79007, 25px 25px 0 -20px #f79007; **/
}

#moulinette-compendiumpreview .compendium img.preview {
  max-width: 100px;
  max-height: 100px;
}

#moulinette-compendiumpreview footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  overflow: hidden;
  width: 100%;
}